<!DOCTYPE html>
<html>
	<head>
	<title>AskIt | Create and share poll</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	</head>
	<body>
		<div class="container">
			<header class="row page-header"><a href="/" class="link-unstyled"><h1>AskIT</h1></a><div>Create and share poll has never been so easy !</div></header>
			<div class="text-center col-xs-12 title">Whoops, looks like there is nothing here !</div>
			<a href="/" class="link-unstyled text-center col-xs-12"><button type="button" class="btn btn-primary btn-lg">Go back</button></a>
		</div> 
	</body>
</html>