@font-face {
    font-family: engineer;
    src: url(font/engineer.otf);
}




body{
	font-family: engineer;
	font-size: 22px;
}

h1{
	font-size: 60px;
}

.btn{
	font-size: 19px;
}

.input-md{
	font-size: 19px;
}

.error-options{
	color: #a94442;
}

.link-unstyled{
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link{
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover{
  color: inherit;
  text-decoration: inherit;
}



.poll-title{
  font-size: 32px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
}

.poll-title:before{
  content : "";
  position: absolute;
  left: 20%;
  bottom: 0;
  height: 1px;
  width: 60%;
  border-bottom:1px solid #eee;
}



.option-vote{
  position: relative;
}
.option-vote:before {
  content : "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom:1px solid #eee;
}


.option-result{
  margin-top: 30px;
}

.option{
  margin-bottom: 10px;
  margin-top: 10px;
  border : 1px solid transparent;
  transition: all 0.5s ease;
}

.total{
  font-size: 30px;
}

.share{
  position: relative;
  font-size: 25px;
}

.message{
  color: #fff;
  font-size: 20px;
  position: absolute;
  padding: 4px 5px;
  border-radius: 4px;
  background-color: #222222;
  right: -20%;
  top: 121%;
}

#create{
  font-size: 22px;
}


.title{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}

.page-header{
  margin-left: 10px;
}

.arrow{  
  top: 100%;
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222222;
}